*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
#nav-bar{
  background-color: #1A0B2E;
}
#nav-bar .nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  margin: 0px auto; 
}
.logo{
  max-width: 219px;
  margin: 30px 0px;
}
.logo h2{
  color: #ffffff;
  font-weight: 900;
  font-size: 2rem;
}
.linear{
  background: linear-gradient(to top, #F7E93F 0%, #FB09B4 51%, #9100F8 100% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav{
  max-width: 218px;
  margin: 36.5px 0px;
}
.nav ul{
  display: flex;
  list-style-type: none;
  gap: 32px;
}
.nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  line-height: 120%;
  opacity: 90%;
}
.btn{
  max-width: 201px;
  margin: 24px 0px;
}
.btn button{
  padding: 12px 16px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  border-radius: 10000px;
  border: none;
}
#hero-section{
  /* border: 3px solid red;  */
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 1600 / 760;
} 
#hero-section .hero{
  max-width: 1600px;
  width: 100%;
  /* border: 3px solid red; */
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero-section .hero .hero-images{
  /* position: relative; */
  /* border: 1px solid red; */
  width: 350px;
  margin: 0px auto;
}
#hero-section .hero .hero-images .hero-new{
  position: relative;
  z-index: 3;
  width: 75px;
  height: 38px;
  top: 159px;
  left: 230px;

}
.hero-new img{
  width: 100px;
}
#hero-section .hero .hero-images .mic{
  position:relative;
  z-index: 2;
  top: 220px;
}
#hero-section .hero .hero-images .circle{
  position: relative;
  z-index: 1;
  bottom: 40px;
}
.hero-text h1{
  color: white;
  font-size: 3.75rem;
  font-weight: 800; 
  margin-bottom: 8px;
}
.hero-text p{
  color: white;
  font-size: 1rem;
  opacity: 80%;
  margin-bottom: 24px;
}
#hero-section .hero .hero-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.hero-btn .btn-1 button{
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  background-color: transparent;
  padding: 12px 20px;
  border: 1px solid #00FF88;
  border-radius: 10000px;
}
#about-section{
  background-color: #1A0B2E;
}
#about-section .about{
  padding: 50px 200px 120px 200px;
}
.about-text{
  max-width: 1200px;
  margin: 0px auto ;
  text-align: center;
}
.about-text h2{
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-text .p1{
  font-size: 1rem;
  line-height: 20px;
  opacity: 80%;
  color: white;
  margin-bottom: 30px;
}
.about-text .p2{
  font-size: 1rem;
  line-height: 20px;
  opacity: 80%;
  color: white;
  margin-bottom: 80px;
}
hr{
  opacity: 10%;
}
.num-container{
  max-width: 1200px;
  margin: 80px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.num-container .listeners h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}  
.num-container .listeners p{
  color: white;
  font-size: 1rem;
  line-height: 20px;
  opacity: 80%;
}
.num-container .episodes h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}  
.num-container .episodes p{
  color: white;
  font-size: 1rem;
  line-height: 20px;
  opacity: 80%;
}
.num-container .rating h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}  
.num-container .rating p{
  color: white;
  font-size: 1rem;
  line-height: 20px;
  opacity: 80%;
}
.num-container .experts h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}  
.num-container .experts p{
  color: white;
  font-size: 1rem;
  line-height: 20px;
  opacity: 80%;
}
#choose-section{
  background-color: rgba(35, 14, 61, 1);
  padding: 120px 200px;
}
.choose h2{
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.choose .choose-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 230px);
  max-width: 1200px;
  margin: 0px auto 79px auto;
  gap: 30px;
}
/* .audio .mobile .global .exclusive .rich{
  width: 100%;
  height: 100%;
} */
.choose .choose-container .audio{
  padding: 40px;
  width: 380px;
  height: 480px;
  grid-column: span 1;
  grid-row: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
}
.choose .choose-container .audio img{
  margin-top: 70px;
  margin-bottom: 16px;
}
.choose .choose-container .audio h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}
.choose .choose-container .audio p{
  color: white;
  font-size: 1rem;
  line-height: 24px;
  opacity: 60%;  
}
.choose .choose-container .mobile{
  padding: 40px;
  width: 790px;
  height: 225px;
  grid-column: span 2;
  grid-row: span 1;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
}
.choose .choose-container .mobile img{
  margin-bottom: 16px;
}
.choose .choose-container .mobile h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}
.choose .choose-container .mobile p{
  color: white;
  font-size: 1rem;
  line-height: 24px;
  opacity: 60%;  
}
.choose .choose-container .global{
  padding: 40px;
  width: 790px;
  height: 225px;
  grid-column: span 2;
  grid-row: span 1;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
}
.choose .choose-container .global img{
  margin-bottom: 16px;
}
.choose .choose-container .global h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}
.choose .choose-container .global p{
  color: white;
  font-size: 1rem;
  line-height: 24px;
  opacity: 60%;  
}
.choose .choose-container .exclusive{
  padding: 40px;
  width: 790px;
  height: 273px;
  grid-column: span 2;
  grid-row: span 1;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
}
.choose .choose-container .exclusive img{
  margin-bottom: 16px;
}
.choose .choose-container .exclusive h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}
.choose .choose-container .exclusive p{
  color: white;
  font-size: 1rem;
  line-height: 24px;
  opacity: 60%;  
}
.choose .choose-container .rich{
  padding: 40px;
  width: 380px;
  height: 273px;
  grid-column: span 1;
  grid-row: span 1;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
}
.choose .choose-container .rich img{
  margin-bottom: 16px;
}
.choose .choose-container .rich h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}
.choose .choose-container .rich p{
  color: white;
  font-size: 1rem;
  line-height: 24px;
  opacity: 60%;  
}
#twice-section{
  background-color: #1A0B2E;
  padding: 120px 200px;
}
.featured-container h2{
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 700;
}
.featured-container{
  max-width: 1200px;
  margin: 0px auto 120px auto;

}
.featured-container .featured-vid{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
}
iframe{
  border-radius: 30px 30px 0px 0px;

}
.featured-vid .vid{
  background-color: rgba(37, 13, 68, 1);
  border-radius: 30px;
}
.featured-text{
  padding: 24px;
}
.featured-text h3{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 12px;
}
.featured-text p{
  color: white;
  font-size: 1rem;
  line-height: 24px;
  opacity: 60%;
  margin-bottom: 12px;
}
.featured-text span{
  color: #00FF88;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}
.host-container{
  max-width: 1200px;
  margin: 0px auto;
}
.host-container h2{
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.host-container .host{
  display: flex;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  gap: 24px;
  align-items: center;
}
.host-container .host-text h4{
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.host-container .host-text p{
  color: white;
  font-size: 1rem;
  line-height: 24px;
  opacity: 60%;
  margin-bottom: 16px;
}
.host-container .host-text .media-links{
  display: flex;
  gap: 8px;
  align-items: center;
}
.media-links a{
  padding: 10px;
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#footer-container{
  background-image: url("../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-text{
  max-width: 1360px;
  margin: 0px auto;

  text-align: center;
  padding: 50px 120px 120px 120px;
  /* border: 1px solid white; */
}
.footer-text .last-bold{
  color: #ffffff;
  font-weight: 900;
  font-size: 7rem;
  margin-bottom: 50px;
}
.links{
  margin-bottom: 50px;
}
.links ul{
  display: flex;
  justify-content: center;
  gap: 91px;
  list-style-type: none;
}
.links ul a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  opacity: 60%;
}
.copyright p{
  color: white;
  line-height: 24px;
  font-size: 1rem;
  opacity: 60%;
}
/* Responsive Design */

/* @media screen and (max-width: 576px){
  .featured-container .featured-vid{
   flex-direction: column;
  }
  .featured-container{
   width: 100%;

  }
} */